# Backend API Base URL (thay đổi theo IP máy tính/server của bạn)
# Ví dụ chạy local: http://192.168.1.xxx:8080/api/v1 hoặc http://localhost:8080/api/v1
EXPO_PUBLIC_API_URL=http://192.168.1.159:8080/api/v1
